@page "/admin/products"
@layout AdminLayout
@attribute [Authorize(Roles ="ADMIN")]
@rendermode InteractiveServer
@inject ProductStateService _productStateService
@inject IUnitOfWork _unitOfWork
@implements IDisposable


<PageTitle> Products </PageTitle>

@if (_products == null)
{
    <p> <em> Loading...</em></p>
}
else
{
    <div class="container mx-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="entete">
                <h4 class="title"><i class="fas fa-list me-2"></i>List of Products</h4>
                <a href="admin/createproduct" class="btn btn-outline-primary ms-2">
                    <i class="fas fa-plus"></i>
                    Add New Product
                </a>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                @errorMessage
            </div>
        }
        @if (!string.IsNullOrEmpty(_productStateService.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                <i class="far fa-check-circle"></i>
                @_productStateService.SuccessMessage
            </div>
        }

        <div class="d-flex margin-auto justify-content-center">
            <div>
                <EditForm Model="getProductCategoryById" OnValidSubmit="GetProductsByCategoryId" Enhance FormName="FilteringForm">
                    <div class="input-group mb-3 ms-2">
                        <InputSelect class="form-select" id="inputGroupSelect02" @bind-Value="getProductCategoryById.CategoryId">
                            <option selected >All</option>
                            @foreach(var category in _categories)
                            {
                                <option value="@category.id">@category.name</option>
                            }
                        </InputSelect>
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                            <i class="fas fa-filter"></i>
                            Filter
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="container margin-auto mb-3 table-responsive tableau">
            <table class="table table-hover table-striped table-sm ">
                <thead class="rounded-3 table-header">
                    <tr>
                        <th>N°</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        count = 0;
                    }
                    @foreach (var product in _products)
                    {
                        count++;
                        <tr class="text-nowrap">
                            <td>@count</td>
                            <td>
                                <img src="@product.ImageUrl" style="width: 20px; height:20px; border-radius: 50%;">
                            </td>
                            <td>@product.Name</td>
                            <td>
                               <a href="/admin/products/@product.Id" class="btn btn-outline-warning"> Details</a>
                            </td>
                            <td>@product.Price ₺</td>
                            <td>@product.Stock</td>
                            <td>
                                <div class="btn btn-group">
                                    <button class="btn btn-danger" @onclick="() => Delete(product.Id,count)">
                                        <i class="fa fa-trash me-1"></i> 
                                    </button>
                                    <a href="admin/editProduct/@product?.Id" class="btn btn-success">
                                        <i class="fa fa-edit me-1"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

   
    
}

@code {
    private string errorMessage { get; set; } = String.Empty;
    private List<ResultProductDto> _products = [];
    private List<ResultCategoryDto> _categories=[];
    [SupplyParameterFromForm(FormName ="FilteringForm")]
    private GetProductCategoryDto? getProductCategoryById {get;set;}=new();
    private int count { get; set; }
    [Inject] private IJSRuntime JS{ get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (!_productStateService.Products.Any())
        {
            await GetAllProducts();
            _productStateService.SetProducts(_products);

        }
        else
        {
            _products = _productStateService.Products;
        }
        _categories=await _unitOfWork.CategoryService.GetAllCategoriesAsync();
        _productStateService.OnProductsChanged += StateHasChanged;
    }
    protected override void OnParametersSet()
    {
        if (_productStateService.Products != null && _productStateService.Products.Count > 0)
        {
            count = 0;
            _products = _productStateService.Products;
        }
    }
    private async Task GetAllProducts()
    {
        _products=await _unitOfWork
                            .ProductService
                            .GetAllProductsAsync();
    }

    private async Task Delete(int id,int cacheIndex)
    {
        try
        {
            var result=await _unitOfWork.ProductService.DeleteProductAsync(id);
            if(!result)
            {
                errorMessage="An error occured while trying to delete this item";
                return;
            }
            _productStateService.RemoveProduct(cacheIndex);
            _products = _productStateService.Products;
        }catch(Exception ex)
        {
            await JS.InvokeVoidAsync("console.log",ex);
            errorMessage="Failed to deleted this item";
            await Task.Run(async () =>
             {
                 await Task.Delay(1000);
                 errorMessage=string.Empty;
                 StateHasChanged();
                 
             });
        }
    }
    public void Dispose()
    {
        _productStateService.OnProductsChanged -= StateHasChanged;
    }
    private async Task GetProductsByCategoryId()
    {
        _products= await _unitOfWork
                        .ProductService
                        .GetProductByCateogryIdAsync(getProductCategoryById.CategoryId);
        StateHasChanged();
    }

}
